body{
    background-image:url(https://cdn.pixabay.com/photo/2016/03/09/09/34/roses-1245869_960_720.jpg);
    /* border:solid;
    height: 420px; */
    /* border-style:groove; */
    border-color:indigo;
    border-radius: 50px;
    /* background-color: yellow;   */
    /* background-image: linear-gradient(to right,purple,indigo);
    border-width: 8px;          */
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font;
    text-align: center;
    position: relative;
    color:yellow;
    text-shadow:10px 10px 10px lawngreen;
    top: 275px;
}
h2{
    text-align: center;
    position: relative;
    bottom: 10%;
    color:yellow;
    text-shadow:10px 10px 10px lawngreen;
}

p{
    text-align: justify;
    font-weight:bold;
    color: rgb(67, 221, 67);
}
.p2{
    position: relative;
    bottom: 3%;
}
h4{
    text-align: right;
    position: relative;
    bottom:-18%;
    color:yellow;
    text-shadow:10px 10px 10px lawngreen;
    top:15px;
    font-family: monospace;
    font-style: italic;
}
h5{
    text-align: right;
    position: relative;
    bottom:-18%;
    color:yellow;
    text-shadow:10px 10px 10px lawngreen;
    top:15%;
    font-family: monospace;
    font-style: italic;

}